<div class="container">
  <h1 class="text-center text-danger">{{title}}</h1>
  <br/>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <button (click)="loadChild2()" class="btn btn-danger">Load Child 2</button>
    </div>
    <div class="col-md-4">
      <button (click)="loadChild3()" class="btn btn-info">Load Child 3</button>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-4">
     <app-child1></app-child1>
    </div>
    <div class="col-md-4">
      <ng-template #child2></ng-template>
    </div>
    <div class="col-md-4">
      <ng-template #child3></ng-template>
    </div>
  </div>

</div>